<p id="notice"><%= notice %></p>

<p>
  <strong>User group name:</strong>
  <%= @user_group.user_group_name %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
